/* Estilos formulario login */
@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  
}
body{
  font-family: 'open Sans',sans-serif;
  background-image: url(../img/fondo-pantalla.jpg);
  background-attachment: fixed;
  background-size: 100vw 100vh;
}
/*estilo al header de la pantalla principal*/
header{
  width: 100%;
    height: 50px; 
    background: rgb(153, 33, 33);
    color: rgb(8, 8, 8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.contendor{
  display: flex;
    justify-content: space-between;
    /* text-align: center; */
    align-items: flex-end;
}
h1{
  float: left;
}
header .contendor{
  display: table;
}
#btn-menu{
  display: none;
}
header label{
  float: right;
  font-size: 28px;
  margin: 6px 0;
  cursor: pointer;
}
.menu{
  
 position: absolute;
 top: 50px;
 left: 0;
 width: 100%;
 height: 100vh;
 background:rgba(150, 38, 38, 0.507);
 transition: all 0.5s;
 transform: translateX(-100%);
}
.menu a{
  
  background-color:solid rgba(175, 42, 42, 0.445); 
  display: block;
  color: #ffffff;
  height: 50px;
  text-decoration: none;
  padding: 15px;
  border-bottom: 1px solid rgba(163, 29, 29, 0.5);

}
.menu a :hover{
  background:rgba(255,255,255,0.5);
}
#btn-menu:checked ~ .menu {
  transform: translateX(0);
}
.formPost{
  margin-top: 70px;
  padding: 20px;
}
.contenedor-publicaciones{
  width: 50%px;
  background: lightcoral;
}

@media (min-width:900px){
.menu{
  position: static;
  width:auto;
  height: auto;
  transform:translateX(0%);
  float: right;
  display: flex;
}
.menu a{
  border: none;
}
header label{
  display: none;
}
}
/*dandole estilo al inicio de sesion*/
.iniciar-sesion{
  margin: auto;
  width: 70%;
  max-width: 500px;
  background: rgba(236, 228, 183, 0.74);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: rgba(236, 228, 183, 0.74);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 30px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 6%;
}
.titulo-inicio{
  text-align: center;
  margin-bottom: 20px;
  color: rgba(8, 0, 0, 0.897);
}
.cabecera-login{
  font-size: 17px;
  margin-left: 10%;
  text-align: center;
}
.logo-inicio{
 width: 100px;
 height: 100px;
}

.titulo-inicio,.slogan{
  width: 100%;
  display: flex;
  text-align: center;
  position: relative;
}
.titulo-inicio{
  margin-left: 30%;
}
.form,.btn-login,#btn-google,#btn-facebook, #btn-registrate{
  display:block;
  padding: 10px;
  width: 100%;
  margin: 15px 0;
  font-size: 20px;
  border: 0;
  cursor: pointer;
  border-radius: 15px;
  margin-bottom: 0; 
}
.btn-login{
  background-color:rgba(163, 29, 29, 0.74);
}
#btn-facebook{
  background-color: #3B5998;
}
#btn-facebook{
  background-color: #3B5998;
  display: flex;
  flex-direction: row;
  justify-content:center;
  
}
#btn-google,#btn-facebook, #btn-registrate{
  font-size: 15px;
}
.form,.btn-login,#btn-google,#btn-facebook, #btn-registrate:hover{
  opacity: 1;
}
.form,.btn-login,#btn-google,#btn-facebook, #btn-registrate:active{
  transform: scale(0.95);
}

@media(max-width:780px){
  .form{
  max-width: 100%;
 max-height: 90%;
  }
  .iniciar-sesion{
    margin: auto;
  width: 90%;
  max-width: 500px;
  margin-top: 10%;
  }
  }
  /*dandole estilo a registrarse*/
  .registrarse{
    margin: auto;
    width: 70%;
    max-width: 500px;
    background: rgba(236, 228, 183, 0.74);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: rgba(236, 228, 183, 0.74);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 30px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 6%; 
  }
  .logo-registro{
    margin: auto;
    width: 100%;
    max-width: 500px;
    border-radius: 15px; 
  }