@import url('https://fonts.googleapis.com/css?family=Muli|Roboto');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
/*** Definiendo clases para fuentes ***/
.font1 {
  font-family: 'Roboto', sans-serif;
}
.font2 {
  font-family: 'Muli', sans-serif;
  font-size: 40px;
}

/**** Login ****/
.login{
  padding: 10px;
  background-image: url(https://user-images.githubusercontent.com/45070947/56932406-4750b680-6aa9-11e9-8541-a132ea0e4e73.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/*** Sign Up ***/
.signup{
  padding: 10px;
  background-image: url(https://user-images.githubusercontent.com/45070947/56933500-bfb97680-6aad-11e9-88c3-f5a7e0635e3e.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/*** Formulario de inicio de sesion y registro ***/
.form-login{
  margin: auto;
  max-width: 400px;
  background: rgba(236, 228, 183, 0.74);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 30px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-align: center;
}
.posicion-login{
  margin: 1% 0 1% 60%;
}
.posicion-register{
  margin: 2% 55% 2% 10%;
}
fieldset{
  border: none;
}
.cabecera-login{
  font-size: 17px;
  padding: 20px;
}
.logo-inicio{
 width: 100px;
 height: 100px;
}
.slogan{
  width: 100%;
  display: block;
  position: relative;
}
.form {
  display:block;
  padding: 10px;
  width: 100%;
  margin: 15px 0;
  font-size: 20px;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 0; 
  transform: scale(0.95);
}
.btn-login{
  background-color: #FAAE3B;
}
.text-final{
  margin: 10px;
  text-decoration: underline; 
}
.error {
  color: red;
  text-align: center;
}

/*Estilo al header de la pantalla principal*/
header{
  width: 100%;
  height: 60px; 
  background:#88A451;
}
h1{
  color: #1F1F1E;
  margin: 12px;
  float: left;
}
.logo{
  height: 50px;
  width: 50px;
  margin: 5px;
}
#btn-menu{
  display: none;
}
header label{
  float: right;
  font-size: 28px;
  margin: 6px 0;
  cursor: pointer;
}
.nav-menu{
  position: absolute;
  top: 50px;
  left: 0;
  width: 50%;
  height: 150px;;
  background: #FAAE3B;
  transition: all 0.5s;
  transform: translateX(-100%);
}
.nav-menu a{ 
  display: block;
  color: #1F1F1E;
  height: 60px;
  text-decoration: none;
  padding: 20px;
  border-bottom: 1px solid #1F1F1E;
}
.nav-menu a :hover{
  background:rgba(255,255,255,0.5);
}
#btn-menu:checked ~ .nav-menu {
  transform: translateX(0);
}

/*** Publicar un post ***/

.form-post{
  margin: 0 25%;
  padding: 20px;
  width: 50%;
  text-align: center;
}
textarea{
  resize: none;
  border-radius: 4px;
  align-content: center;
  display: block;
  width: -webkit-fill-available;
  padding: 10px;
}
.publicar, select{
  border-radius: 3px;
  background-color:#FAAE3B;
  color: #1F1F1E;
  font-weight: 900;
  border: none;
  width: 100px;
  height: 30px;
  margin-top: 10px;
}

/*Estilos contenido post*/
.contenedor-publicaciones{
  margin: auto;
  width: 70%;
  border-radius: 10px;
}

.info-post{
  background: rgba(221, 215, 215, 0.74);
  padding: 10px;
  margin-top: 25px;
  border-radius: 10px;
}
.btn-like,.btn-eliminar,.btn-editar{
  width: 40px;
  height: auto;
  padding: 0 5px;
  cursor: pointer;
}

.btn-editar,.btn-GuardarCambios{
  width: 60px;
  height: 30px;
  border-radius: 12px;
  background-color:#FAAE3B;
  color: #ffffff;
  border: none;
  }
.btn-eliminar{
  background-image: url("img/garbage.png");
}
.btn-editar{
  display: inline;
}
.btn-GuardarCambios{
  display: none;
}
.btn-editar:hover{
  background-color: rgba(107, 31, 31, 0.787);
  border-radius: 12px;
}
.btn-like,.btn-eliminar,.btn-editar :hover{
  cursor: pointer;
}
.contenedor-mensaje{
  resize: none;
  width: 100%;
  height: 50px;
}
#id-MensajeError{
  font-size: 12px;
  color: red;
}
/*Estilos contenido perfil*/
.miPerfil{
  margin-top: 60px;
  padding: 30px;
} 
.foto-perfil{
  width: 20%;
  border-radius: 500px;
}
/* MODO RESPONSIVE PC */
@media (min-width:900px){
  /* Header*/
    .nav-menu{
      position: static;
      width:auto;
      height: auto;
      transform:translateX(0%);
      float: right;
      display: flex;
    }
    .nav-menu a{
      border: none;
    }
    header label{
      display: none;
    }
  }
/* MODO RESPONSIVE TABLET */
@media(max-width:780px){
  .form{
    max-width: 100%;
    max-height: 90%;
  }
  .posicion-login{
    margin: 1% 0 1% 50%;
  }
  .posicion-register{
    margin: 2% 45% 2% 10%;
  }
}
/* MODO RESPONSIVE CELULAR */
@media(max-width:540px){
  .form{
    max-width: 100%;
    max-height: 90%;
  }
  .posicion-login{
    margin: 1%;
  }
  .posicion-register{
    margin: 1%;
  }
  .form-post {
    margin: 1%;
    width: 98%;
  }
}
