/* Estilos formulario login */
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Merienda');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Merienda', cursive;
}
body{
  font-family: 'open Sans',sans-serif;
  background-attachment: fixed;
  background-size: 100vw 100vh;
}
/*Estilo al header de la pantalla principal*/
header{
  width: 100%;
  height: 50px; 
  background:#7f0000;
  color: rgb(247, 241, 241);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.bienvenido{
  color: white;
  padding: 5px;
}
h1{ 
  float: left;
}
#btn-menu{
  display: none;
}
header label{
  float: right;
  font-size: 28px;
  margin: 6px 0;
  cursor: pointer;
}
.menu{
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100vh;
  background:rgba(150, 38, 38, 0.507);
  transition: all 0.5s;
  transform: translateX(-100%);
  font-family: 'Dancing Script', cursive;
  font-family: 'Merienda', cursive;
}
.menu a{
  background-color:solid rgba(175, 42, 42, 0.445); 
  display: block;
  color: #ffffff;
  height: 50px;
  text-decoration: none;
  padding: 15px;
  border-bottom: 1px solid rgba(163, 29, 29, 0.5);
}
.menu a :hover{
  background:rgba(255,255,255,0.5);
}
#btn-menu:checked ~ .menu {
  transform: translateX(0);
}
/*Inicio de sesion*/
.iniciar-sesion{
  margin: auto;
  width: 70%;
  max-width: 500px;
  background: rgba(236, 228, 183, 0.74);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: rgba(236, 228, 183, 0.74);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 30px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 6%;
}
.titulo-inicio{
  text-align: center;
  margin-bottom: 20px;
  color: rgba(8, 0, 0, 0.897);
}
.cabecera-login{
  font-size: 17px;
  margin-left: 10%;
  text-align: center;
}
.logo-inicio{
 width: 100px;
 height: 100px;
}
.titulo-inicio,.slogan{
  width: 100%;
  display: flex;
  text-align: center;
  position: relative;
}
.titulo-inicio{
  margin-left: 30%;
}
.form,.btn-login,#btn-google,#btn-facebook, #btn-registrate{
  display:block;
  padding: 10px;
  width: 100%;
  margin: 15px 0;
  font-size: 20px;
  border: 0;
  cursor: pointer;
  border-radius: 15px;
  margin-bottom: 0; 
}
.btn-login{
  background-color:rgba(163, 29, 29, 0.74);
}
#btn-facebook{
  background-color: #3B5998;
}
#btn-facebook{
  background-color: #3B5998;
  display: flex;
  flex-direction: row;
  justify-content:center;
}
#btn-google,#btn-facebook, #btn-registrate{
  font-size: 15px;
}
.form,.btn-login,#btn-google,#btn-facebook, #btn-registrate:hover{
  opacity: 1;
}
.form,.btn-login,#btn-google,#btn-facebook, #btn-registrate:active{
  transform: scale(0.95);
}
.error {
  color: red;
  text-align: center;
}
  /*Estilos de registro*/
.text-boton-post{
  display: flex;
  }
.id-save{
  width: 60px;
  }
.registrarse{
  margin: auto;
  width: 70%;
  max-width: 500px;
  background: rgba(236, 228, 183, 0.74);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: rgba(236, 228, 183, 0.74);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 30px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 6%; 
}
.logo-registro{
  margin: auto;
  width: 100%;
  max-width: 500px;
  border-radius: 15px; 
}
/*Estilos contenido post*/
.contenedor-publicaciones{
  margin: auto;
  width: 70%;
  border-radius: 10px;
}
.formPost{
  margin-top: 20px;
  padding: 20px;
  margin: auto;
  width: 70%;
  margin-top: 12%;
  border-radius: 10px;
  font-family: 'Merienda', cursive;
}
.ingresar-post-aqui{
  margin: auto;
  width: 70%;
  font-family: 'Merienda', cursive;
}
.info-post{
  background: rgba(221, 215, 215, 0.74);
  box-shadow: inset 0px 4px 4px rgba(163, 29, 29, 0.74);
  padding: 10px;
  margin-top: 25px;
  border-radius: 10px;
  font-family: 'Dancing Script', cursive;
  font-family: 'Merienda', cursive; 
}
.btn-like,.btn-eliminar,.btn-editar{
  width: 40px;
  height: auto;
  padding: 0 5px;
  cursor: pointer;
}
#id-save,select{
  border-radius: 5px;
  background-color:#7f0000;
  color: #ffffff;
  border: none;
  font-family: 'Dancing Script', cursive;
  font-family: 'Merienda', cursive;
}
#id-save{
  width: 100px;
}
.btn-editar,.btn-GuardarCambios{
  width: 60px;
  height: 30px;
  border-radius: 12px;
  background-color:#7f0000;
  color: #ffffff;
  border: none;
  font-family: 'Dancing Script', cursive;
  font-family: 'Merienda', cursive;
  }
.btn-eliminar{
  background-image: url("img/garbage.png");
}
.btn-editar{
  display: inline;
}
.btn-GuardarCambios{
  display: none;
}
.btn-editar:hover{
  background-color: rgba(107, 31, 31, 0.787);
  border-radius: 12px;
}
.btn-like,.btn-eliminar,.btn-editar :hover{
  cursor: pointer;
}
.contenedor-mensaje{
  resize: none;
  width: 100%;
  height: 50px;
}
#id-MensajeError{
  font-size: 12px;
  color: red;
}
/*Estilos contenido perfil*/
#id-publicacion{
  display: block
}
.miPerfil{
  margin-top: 60px;
  padding: 30px;
} 
.foto-perfil{
  width: 20%;
  border-radius: 500px;
}
/* MODO RESPONSIVE PC */
@media (min-width:900px){
  /* Header*/
    .menu{
      position: static;
      width:auto;
      height: auto;
      transform:translateX(0%);
      float: right;
      display: flex;
    }
    .menu a{
      border: none;
    }
    header label{
      display: none;
    }
  }
/* MODO RESPONSIVE TABLET */
@media(max-width:780px){
  .form{
    max-width: 100%;
    max-height: 90%;
  }
  .iniciar-sesion{
    margin: auto;
    width: 90%;
    max-width: 500px;
    margin-top: 10%;
  }
}